:root {
  --cor-texto: white;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: Montserrat;
}

.container {
  background-color: rgb(22,29,49);
  display: grid;
  grid-template-areas: 
  "aside header"
  "aside main"
      "footer footer";
  grid-template-columns: 330px 2fr;
  grid-template-rows: auto 100vh auto;
  color: var(--cor-texto);
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* header, aside, main, footer{
  border: 1px solid blue;
} */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: large
}

.item-espaco {
  margin-right: 8px;
}
